fluxo-node-red.js
[{"id":"dde7a0e1c9b861a5","type":"tab","label":"Fluxo 1","disabled":false,"info":"","env":[]},{"id":"ecf97c94fca6c9c5","type":"mqtt in","z":"dde7a0e1c9b861a5","name":"Recebe MQTT","topic":"monitoramento/veiculos","qos":"0","datatype":"auto","broker":"fe6d3b2ae7a20c8a","nl":false,"rap":false,"inputs":0,"x":180,"y":180,"wires":[["38c2c54744313a3b"]]},{"id":"38c2c54744313a3b","type":"json","z":"dde7a0e1c9b861a5","name":"Parser JSON","property":"payload","action":"","pretty":false,"x":360,"y":180,"wires":[["8f771882a2054e2a"]]},{"id":"8f771882a2054e2a","type":"ui_template","z":"dde7a0e1c9b861a5","group":"9a55d61db29a3c62","name":"Cartão de Monitoramento","order":1,"width":"6","height":"7","format":"<div style=\"padding: 10px; border-radius: 10px; background: #f0f0f0;\">\n  <h3 style=\"margin-top: 0;\">🚗 Veículo: {{msg.payload.identificador}}</h3>\n  <p><strong>Tipo:</strong> {{msg.payload.tipo}}</p>\n  <p><strong>Zona Atual:</strong> {{msg.payload.zona}}</p>\n  <p><strong>Status:</strong> <span style=\"color: {{msg.payload.movimento ? 'green' : 'red'}}\">{{msg.payload.movimento ? 'Em Movimento' : 'Parado'}}</span></p>\n  <p><strong>RSSI:</strong> {{msg.payload.rssi}} dBm</p>\n  <p><strong>Distância Estimada:</strong> {{msg.payload.distancia.toFixed(2)}} metros</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":570,"y":180,"wires":[[]]},{"id":"fe6d3b2ae7a20c8a","type":"mqtt-broker","name":"Broker Local","broker":"192.168.0.169","port":"1883","clientid":"NodeRED","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9a55d61db29a3c62","type":"ui_group","name":"Monitoramento","tab":"327b86f4d4a31254","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"327b86f4d4a31254","type":"ui_tab","name":"Veículos BLE","icon":"dashboard","order":1,"disabled":false,"hidden":false}]